@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

div.App {
  font-family: 'Montserrat', sans-serif;
  color: rgb(41, 21, 7);
  height: auto;
  padding: 1rem 5% 0;
}

@media screen and (min-width: 700px) {
  div.App {
    padding: 0 10%;
  }
}

@media screen and (min-width: 1200px) {
  div.App {
    padding: 0 15%;
  }
}

@media screen and (min-width: 1500px) {
  div.App {
    padding: 0 20%;
  }
}